<header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand nav-title" href="/">SECUL</a>		
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item <% if (page == "info") { %> active<% } %>">
              <a class="nav-link" href="info">SECUL 소개</a>
            </li>
            <li class="nav-item<% if (page == "yet") { %> active<% } %>">
              <a class="nav-link" href="yet">보안 솔루션1</a>
            </li>
            <li class="nav-item<% if (page == "empMng") { %> active<% } %>">
              <a class="nav-link" href="yet">보안 솔루션2</a>
            </li>	
            <li class="nav-item<% if (page == "groupMng") { %> active<% } %>">
              <a class="nav-link" href="yet">보안 솔루션3</a>
            </li>				
            <li class="nav-item<% if (page == "batchReserve") { %> active<% } %>">
              <a class="nav-link" href="yet">보안 솔루션4</a>
            </li>
            <li class="nav-item<% if (page == "mySchedule") { %> active<% } %>">			
              <a class="nav-link" href="yet">CONTACT US</a>
            </li> 
          </ul>
        </div>
      </nav>
    </header>