body
{
	#background-color : #DDDDDD;
	font-family : "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

main
{
	background-color : #FFFFFF;
	padding : 20px 30px 60px 30px;
}

footer
{
	text-align : right;
	z-index : 500;
}

.sidemenu
{
	position : fixed;
	top : 60px;
	left : 20px;
}

.sidemenu a
{
	display : block;
	height : 50px;
	text-decoration : none;
	width : 150px;
	padding-left : 10px;
	border-radius : 5px;
}

a.menuLi_selected
{
	background-color : #343a40;
	color : white;
}

i:before
{
	font-size : 16px;
}

i.fa-save:before
{
	font-size : 200%;
}


.input-group-text
{
	width : 100px;
}

.nav-title
{
	padding-left : 1em;
}

header li.active
{
	background-color : #8CC328;
}


.center
{
	text-align : center;
}

.cus-default
{
	cursor : default;
}

.nav-item:not(.active):hover
{
	background-color : #707376;
}

@media (min-width: 992px)
{
	
	
}
@media (max-width: 576px)
{
	.nav-item
	{
		margin : 0px 10px;
	}
		
	.ar
	{
		display : none;
	}	
}

.title-undervar
{
	background : url(/img/underbar_title.png) no-repeat left bottom;
	padding-bottom : 15px
}

.green
{
	color : #8CC328;
}

.gray
{
	color : #54585A;
}

.no-margin
{
	margin : 0px;
}

.margin-top
{
	margin-top : 150px;
}

.margin-bottom
{
	margin-bottom : 400px;
}

.p-title
{
	font-size : 35px;
}