span
{
	font-size : 20px;
	font-weight : bold;
	display : inline-block;
}

.text-header
{
	color : deepskyblue;
	width : 100px	
}

.text-content
{
	
}

.img-div img:not(:first-child)
{
	margin-left : 75px;
}

.signature
{
	text-align : right;
	margin-top : 75px;
}

.signature-name
{
	font-weight : bold;
	font-size : 20px;
}

.month-blank
{
	padding-left : 2.5em;
}

.large-img
{
	width : 100%;
	margin-bottom : 100px;
}